!!!
%html
  %head
    %title Git-Proxy
  %body
    #container
      #header        
      #content
        %h1 Git-Proxy server
        %p This server is used mainly for making your web pages easy in secure token-base connection with github API. It can maintain all github applications providing private storage for all sensitive data.
        %p Project <a href='/'>source code</a> on github.        
      #footer
        %p#legal= "&mdash; #{Time.now.strftime('%Y')} &mdash;"