!!!
%html
  %head
    %title Git-Proxy
  %body
    #container
      #header        
      #content
        %h1 Git-Proxy server
        %p More on <a href='https://github.com/krispo/git-proxy'>github</a>
        %p This server is used mainly for making your web pages easy in secure token-base connection with github API. It can maintain all your github applications providing private storage for all sensitive data.
        %p Server is used as a private server for handling your own github applications. So, if you want to use it, you should fork the <a href='https://github.com/krispo/git-proxy'>source repo</a> into your account and follow the project instruction.               
      #footer
        %p#legal= "&mdash;&nbsp;&copy; #{Time.now.strftime('%Y')} <a href='https://github.com/krispo/git-proxy/blob/master/LICENSE'>MIT License</a> &nbsp;&mdash;"